.titleReact {
  color: #61dafb;
}

.cardReact {
  border-color: #61dafb;
  flex-direction: column;
}

.menuReact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 40rem;
  margin: 0 auto;
}

button {
  padding: 0.7rem 1.4rem;
  border: 3px solid #61dafb;
  color: #61dafb;
  border-radius: 1.2rem;
  font-weight: 700;
}
